/*
============================================================
		   Font Color
============================================================
*/
.slider-caption a,
.top-bar .pull-left ul li a:hover,
.lang-wrap.open button,
.user-dec a:hover,
.caption-dec h4,
.cstmr-dec .text h5 a,
/*.price-tag,*/
.price-tag sub,
.cart-icon:hover,
.tags-2 li a:hover,
.featured-dec .text h5 a:hover,
.book-tab-dec .text h5 a:hover,
.blog-meta li a:hover,
.featured-blog1 .text h5 a:hover,
.play-icon,
.featured2-dec .text .shopnow:hover,
.featured2-dec .text h2 a:hover,
.featured-style2 .text .shopnow:hover,
.featured-style2 .text h2 a:hover,
.text-2 h3 a:hover,
.fetch-book2 h4,
.fetch-bookmtea h4,
.signature,
.cart-form .text p,
.ad-cart i,
.books-tab.nav-tabs li.active a,
.books-tab li.active a:hover,
.like-icon:hover,
.fechd-publisher .text p a,
.text-2 span,
.fechd-publisher:before,
.heading-3 h2,
.widget-text .text > a,
.new-dec .text a,
.new-dec a,
.news-latter a:hover,
.contact-ft .text a,
.ft-nav li a:hover,
.inner-banner-dec .breadcrumb li,
.inner-banner-dec .breadcrumb li a:hover,
.book-tab-dec:hover .text h5 a,
.kf-pagination .pagination li a:hover,
.kf-pagination .pagination li a.active,
.featured-dec3 .text a:hover,
.like-2:hover i,
.blog1-hd h5 a:hover,
.widget-pub-fillter ul li a:hover,
.error-wrap span,
.error-wrap h6,
.blog-classic-dec:hover .text h2 a,
.blog-classic-dec .text .blog-meta li a:hover,
.blockquote:after,
.blockquote:before,
.comingsoon-dec span,
.tabs-widget .text h6 a:hover,
.widget-accordian2 .side_accordian .accordion.accordion-open span,
.widget-accordian2 .side_accordian .accordion.accordion-open:before,
.widget-most-commented .blog-classic-dec:hover .text > a,
.widget-archives ul li a:before,
.widget-archives ul li a:hover,
.blog-classic-dec .shopnow:hover,
.video,
.order-submit .tick-mark p a,
.blog-detail-dec .text p span,
.blockquote2 p a,
.blockquote2 h3:before,
.blog-detail-thumb p em,
.blog-meta3 li i,
.commenting-hd h5:hover a,
.blog-nav:hover span,
.blog-nav:hover i,
.autor-blockquote .text h5:hover a,
p em,
.featured-author3:hover .text h5 a,
.wishlist2 ul li:hover a,
.wishlist2 ul li:hover i,
.book-tags li a:hover,
.book-heading h3:hover a,
.banner2-pager i,
.tags-1 li span:hover, 
.tags-1 li a:hover,
.testimonial-dec .text a:hover,
.copy-right p a:hover,
.track:hover,
.new-account:hover,
.header-3 .nav-dec2 ul li a:hover,
.header-4 .nav-dec li:hover > a,
.contact-ft .text em:hover,
.contact-ft address:hover,
.comingsoon-dec .text > p a:hover,
.payment-method::after,
.input-dec button:hover,
.text-filed-1 input[type="text"]:focus,
.blog-form .input-dec3 textarea:focus,
.blog-form .input-dec3 input[type="text"]:focus,
.cutomer-reviews .input-dec3 input[type="text"]:focus,
.cutomer-reviews .input-dec3 textarea:focus,
.contact-wrap .input-dec3 input[type="text"]:focus,
.contact-wrap .input-dec3 textarea:focus,
.header-3 .nav-search .input-dec2 input[type="text"]:focus,
.header-4 .input-dec2 input[type="text"]:focus,
.brand-icons li a:hover i,
.cart-wrap .cart i:hover, 
.cart-wrap > a:hover i,
.titleInfor,
.input-dec input[type="text"]:focus
{	
	color: #1ABC9C;
}
/*
	  ============================================================
		   Background Color
	  ============================================================
*/
.main-banner .bx-wrapper .bx-pager.bx-default-pager a.active,
.social-1 li a:hover,
.categories-ul > li:hover > a,
.fetch-bookmtea ul li:hover a,
.text-filed-1 button,
.select-menu .selectric-items li:hover,
.select-menu .selectric-items li.selected:hover,
.select-menu .selectric-items li.selected,
.nav-dec li:hover > a,
.slider-caption a:hover,
.main-banner .bx-wrapper .bx-controls-direction a:hover:before,
.featured-slider .owl-theme .owl-controls .owl-buttons div:hover:before,
.add-cart:hover,
.social-2 li a:hover,
.authorbook-slider .bx-wrapper .bx-controls-direction a:hover,
.comment-icon:hover,
.play-icon:hover,
.author-book .readmore2:hover,
.btn-1.active,
.btn-1:hover,
.slectric-dec .selectric-items li:hover,
.slectric-dec .selectric-items li.selected:hover,
.link a,
.brand-slider .owl-theme .owl-controls .owl-buttons div:hover,
.input-stepper button:hover,
.cart-3,
.tabs-slider-wrap .owl-theme .owl-controls .owl-page.active span,
.books-tab li a:before,
.widget-hd h3:before,
.new-1 ul li:hover .new-dec .date,
.contact-ft .social-1 li a:hover,
.pricelable,
.cart small,
.inner-banner-dec span,
.widget-padding .ui-slider-horizontal .ui-slider-range,
.book-tab-dec:hover .text .add-cart,
.book-tab-bx .bx-wrapper .bx-controls-direction a:hover,
.kf-pagination .pagination > li:first-child a:hover,
.kf-pagination .pagination > li:last-child a:hover,
.track,
.wid-slider .bx-pager.bx-default-pager a.active,
.publisher-slider .bx-pager.bx-default-pager a.active,
.side_accordian .accordion.accordion-open:before,
.list-style-dec .blog-thumb-dec a,
.discount-lable,
.widget-pub-fillter ul li a:hover span,
.widget-ad .text h2 span,
.thumb-links a,
.blog-classic-dec .text .btn-2:hover,
.bxclassic-blog .bx-pager.bx-default-pager a.active,
.bxclassic-blog .bx-wrapper .bx-controls-direction a:hover,
.widget-slider2 .bx-pager.bx-default-pager a.active,
.widget-slider2 .bx-wrapper .bx-controls-direction a:hover:before,
.input-dec2 button:hover,
.countdown-dec:before,
.tabs-widget figure:before,
.widget-tags ul li a:hover,
.widget-testimonial .publisher-slider .bx-wrapper .bx-pager.bx-default-pager a.active,
.grid2-blog:hover:before,
.grid2-blog:hover .icon-3,
.dialog-button,
.rangsldr-dec .ui-slider-range.ui-widget-header.ui-corner-all,
.loadnore a,
.contact-wrap .btn-2,
.text-dec2 p span,
.commenting-wrap-1 .commenting-dec:hover .reply-btn,
.commenting-wrap-1 .heading-1 .btn-2:hover,
.commenting2 > ul > li:hover ul:before,
.commenting2 > ul > li:hover ul li .commenting-dec:before,
.kode_progress .progressbars.progress_single,
.kode_progress .progressbars.progress_single > span,
.featured-author3:hover .text:before,
.featured-author3 .social-1 li a:hover,
.thumb-slider .bx-wrapper .bx-controls-direction a:hover,
.zoomer:hover,
.cart-chekout,
.testimonial-slider .bx-wrapper .bx-controls-direction a:hover,
.blog1-slider .bx-wrapper .bx-controls-direction a:hover,
.comment-icon.more:hover,
.page-lable,
.header-3 .nav-dec2 ul li a:before,
.header-4 .nav-dec > li ul,
.header-4 .nav-dec li a:before,
.header-4 .top-bar .social-1 li a:hover,
.cstmr-dec:hover span,
.btn-3:hover,
.go-up:hover,
.banner-pager-wrap ul li .banner2-pager:hover,
#responsive-menu-button2 i:hover,
.categories-menu:hover,
.banner2-caption .select-menu .selectric-wrapper:hover,
.searh-wrap .select-menu .selectric-wrapper:hover
{
	background-color: #1ABC9C;
}
/*
	  ============================================================
		   Border Color
	  ============================================================
*/
.searh-wrap form,
.caption-dec:before,
.caption-dec:after,
.book-tab-dec .add-cart:hover,
.add-cart:hover,
.cart-form,
.publisher-slider,
.book-tab-dec:hover .text .add-cart,
.kf-pagination .pagination li a:hover,
.kf-pagination .pagination li a.active,
.blog-classic-dec .text .btn-2:hover,
.widget-tags ul li a:hover,
.widget-accordian2 .side_accordian .accordion.accordion-open:before,
.contact-wrap .btn-2,
.payment-method.before,
.zoomer:hover,
.books-tab li.active a:hover:before,
.books-tab li.active a:before,
.input-dec2 input[type="text"]:focus,
.input-text input[type="text"]:focus,
.btn-3:hover,
.blog-form .input-dec3 textarea:focus,
.blog-form .input-dec3 input[type="text"]:focus,
.cutomer-reviews .input-dec3 input[type="text"]:focus,
.cutomer-reviews .input-dec3 textarea:focus,
.contact-wrap .input-dec3 input[type="text"]:focus,
.contact-wrap .input-dec3 textarea:focus

{
	border-color: #1ABC9C;
}
.mega-menu1,
.wishlist-wrap .dropdown-menu,
.top-bar ul .dropdown-menu{
	border-top-color: #1ABC9C;
}
.commenting-wrap-1 ul li:hover .commenting-dec{
	border-left-color: #1ABC9C;
}
.input-dec3 .selectric-wrapper.selectric-open,
.input-dec3 textarea:focus,
.input-dec3 input[type="text"]:focus,
.header-4 .input-dec2 input[type="text"]:focus,
.header-3 .nav-search .input-dec2 input[type="text"]:focus{
	box-shadow: 0 0 0 1px #1ABC9C inset;
}
/*
============================================================
		   Transaction Effect
============================================================
*/
.input-dec3 .selectric-wrapper.selectric-open,
.categories-menu,
.select-menu .selectric-wrapper,
.header-4 .input-dec2 input[type="text"],
.top-bar .pull-left ul li a,
.lang-wrap.open button,
.user-dec a,
.social-1 li a,
.categories-ul li a,
.categories-ul li a i,
.categories-menu span,
.categories-menu i,
.categories-ul li a:before,
.navigation-wrap ul li a,
.text-filed-1 input[type="text"]:focus,
.select-menu .selectric-wrapper,
.text-filed-1 button,
.select-menu .selectric-items li,
.slider-caption a,
.main-banner .bx-wrapper .bx-controls-direction a:before,
.cart-2 a,
.tags-2 li a,
.featured-dec,
.featured-dec .text h5 a,
.featured-slider .owl-theme .owl-controls .owl-buttons div:before,
.books-tab li a:before,
.books-tab li a,
.book-tab-dec .text h5 a,
.add-cart,
.social-2 li a,
.comment-icon:hover,
.blog-meta li a,
.featured-blog1 .text h5 a,
.tabs-slider-wrap .owl-theme .owl-controls .owl-page span,
.publisher-slider .bx-wrapper .bx-pager.bx-default-pager a,
.book-tab-dec,
.play-icon,
.news-latter a,
.new-dec .date,
.date b,
.new-dec a,
.new-dec p,
.ft-nav li a,
.text-2 h3 a,
.featured2-dec .text .shopnow,
.featured2-dec .text h2 a,
.featured-style2 .text h2 a,
.featured-style2 .text .shopnow,
.author-book .readmore2,
.brand-wrap li a img,
.mega-menu1,
.inner-banner-dec .breadcrumb li a,
.selectric-items li,
.book-tab-dec .text h5 a,
.book-tab-bx .bx-wrapper .bx-controls-direction a,
.kf-pagination .pagination li a,
.page-lable,
.brand-slider a img,
.brand-slider .owl-theme .owl-controls .owl-buttons div,
.wid-slider .bx-pager.bx-default-pager a,
.side_accordian .accordion:before,
.side-meta li a,
.side-meta li a:before,
.featured-dec3,
.featured-dec3 .text a,
.list-style-dec .blog-thumb-dec,
.list-style-dec .blog-thumb img,
.list-style-dec .blog-thumb-dec a,
.like-2,
.btn-2,
.blog1-hd h5 a,
.widget-pub-fillter ul li a span,
.widget-pub-fillter ul li a,
.blog-classic-dec .thumb img,
.thumb-links,
.thumb-links a,
.blog-classic-dec .text h2 a,
.bxclassic-blog .bx-pager.bx-default-pager a,
.bxclassic-blog .bx-wrapper .bx-controls-direction a:before,
.bxclassic-blog .bx-wrapper .bx-controls-direction a,
.widget-slider2 .bx-pager.bx-default-pager a,
.widget-slider2 .bx-wrapper .bx-controls-direction a,
.widget-slider2 .bx-wrapper .bx-controls-direction a:before,
.input-dec2 button,
.tabs-widget figure img,
.tabs-widget figure:before,
.tabs-widget .text h6 a,
.widget-tags ul li a,
.widget-accordian2 .side_accordian .accordion.accordion-open span,
.widget-archives ul li a,
.grid2-blog:before,
.blog-thumb-dec,
.shopnow,
.icon-3,
.video,
.dialog-button,
.loadnore a,
.payment-method,
.commenting-dec,
.reply-btn,
.commenting-hd h5 a,
.commenting-wrap-1 .heading-1 .btn-2,
.blog-nav span,
.blog-nav i,
.autor-blockquote .text h5 a,
.commenting2 ul:before,
.commenting-dec:before,
.widget-accordian .accordion,
.featured-author3 .thumb img,
.featured-author3 .social-1,
.featured-author3 .text h5 a,
.featured-author3 .text:before,
.thumb-slider .bx-wrapper .bx-controls-direction a,
.input-stepper button:hover,
.wishlist2 ul li a,
.wishlist2 ul li i,
.cart-3,
.book-tags li a,
.book-heading h3 a,
.zoomer,
.tags-1 li span, 
.tags-1 li a,
.testimonial-slider .bx-wrapper .bx-controls-direction a,
.nav-dec > li ul,
.testimonial-dec .text a,
.copy-right p a,
.track,
.new-account,
.header-3 .nav-dec2 ul li a:before,
.header-3 .nav-dec2 ul li a,
.header-4 .nav-dec li a:before,
.contact-ft .text em,
.contact-ft address,
.comingsoon-dec .text > p a,
.input-dec2 input[type="text"],
.input-text input[type="text"],
.input-dec input[type=text],
.link a,
.cstmr-dec span,
.input-dec button,
.btn-3,
.input-dec3 textarea,
.input-dec3 input[type="text"],
.go-up,
.closed,
.banner2-pager i,
.banner2-pager,
#responsive-menu-button2 i,
.btn-1,
.header-3 .nav-search .input-dec2 input[type="text"],
.brand-icons li a i,
.cart-wrap .cart i, .cart-wrap > a,.cart-wrap > a i
 {
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
/*
	  ============================================================
		  Content Selection
	  ============================================================
*/
::selection {
	background: #29adcd;
	color: #ffffff;
}
::-webkit-selection {
 background: #29adcd;
 color: #ffffff;
}
::-moz-selection {
 background: #29adcd;
 color: #ffffff;
}
